<mat-card>
  <mat-card-header>
    <mat-card-title>Resumen tipo de cambio diario</mat-card-title>
     
  </mat-card-header>
  <mat-card-content>
    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->

      <!-- Position Column -->
      <ng-container matColumnDef="id">
        <th mat-header-cell *matHeaderCellDef > ID</th>
        <td mat-cell *matCellDef="let element"> {{element.id}} </td>
      </ng-container>

      <!-- Name Column -->
      <ng-container matColumnDef="moneda">
        <th mat-header-cell *matHeaderCellDef> MONEDA </th>
        <td mat-cell *matCellDef="let element"> {{element.moneda}} </td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="tcventa">
        <th mat-header-cell *matHeaderCellDef> TIPO CAMBIO VENTA </th>
        <td mat-cell *matCellDef="let element"> {{element.tcventa}} </td>
      </ng-container>

      <!-- Symbol Column -->
      <ng-container matColumnDef="tccompra">
        <th mat-header-cell *matHeaderCellDef> TIPO CAMBIO COMPRA </th>
        <td mat-cell *matCellDef="let element"> {{element.tccompra}} </td>
      </ng-container>

      <ng-container matColumnDef="idusuario">
        <th mat-header-cell *matHeaderCellDef> USUARIO </th>
        <td mat-cell *matCellDef="let element"> {{element.idusuario}} </td>
      </ng-container>

      <ng-container matColumnDef="estado">
        <th mat-header-cell *matHeaderCellDef> ESTADO </th>
        <td mat-cell *matCellDef="let element"> {{element.estado}} </td>
      </ng-container>
      <ng-container matColumnDef="createAt">
        <th mat-header-cell *matHeaderCellDef> ACTUALIZACION </th>
        <td mat-cell *matCellDef="let element"> {{element.createAt | date:"dd-MM-yyyy"}} </td>
      </ng-container>

      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef> ACCION </th>
        <td mat-cell *matCellDef="let element">
          <a mat-icon-button color="primary" [routerLink]="['edit',element.id]">
            <mat-icon>edit</mat-icon>
          </a>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <mat-paginator [length]="totalElements" [pageSize]="pageSize" [pageSizeOptions]="[5, 10, 30]" showFirstLastButtons
      (page)="findMore($event)">
    </mat-paginator>
    <mat-card-actions align="start">
      <button mat-stroked-button color="primary" routerLink="create">
        <mat-icon >playlist_add</mat-icon> Nuevo Tipo de cambio
      </button>
    </mat-card-actions>

  </mat-card-content>
</mat-card>